<div class="container">
    <a href="/create" class="btn btn-primary">+ New User</a>
    <table class="table table-striped mt-4">
        <tr>
            <th>Id</th>
            <th>fullName</th>
            <th>address</th>
            <th>Gender</th>
            <th>State</th>
            <th>City</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>password</th>
           
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.dataValues.id}}</td>
            <td>{{this.dataValues.fullName}}</td>
            <td>{{this.dataValues.address}}</td>
            <td>{{this.dataValues.gender}}</td>
            <td>{{this.dataValues.state}}</td>
            <td>{{this.dataValues.city}}</td>
            <td>{{this.dataValues.phone}}</td>
            <td>{{this.dataValues.email}}</td>
            <td>{{this.dataValues.pass_word}}</td>
                <a href="/user-update/{{this.dataValues.id}}">Edit</a> |
                <a href="/delete/{{this.dataValues.id}}" class="text-danger" onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>